**KHALID MUHAMMAD
103102400033
DS-04-02**

**PERTEMUAN 1**

In [ ]:
#Cara Print
print("HaiHaiHai")
print(f"HaiHaiHai")

HaiHaiHai
HaiHaiHai

In [6]:
#Komentar
"""
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
"""
print("Komentar tidak akan mengeluarkan output apapun")

Komentar tidak akan mengeluarkan output apapun

In [7]:
#Variable
"""
Aturan Penulisan Variabel:

    Nama variabel boleh diawali menggunakan huruf atau garis bawah _. Contoh: nama, _nama, namaKu, nama_variabel
    Karakter selanjutnya dapat berupa huruf, garis bawah _ atau angka. Contoh: __nama, n2, nilai1
    Variabel tidak boleh dimulai dengan angka ataupun simbol.
    Variabel tidak boleh berupa kata kunci (keyword) yang ada dalam Python. Contoh: if, else, while, for, dan masih banyak lagi

"""
# Variabel
Nama = "Khalid"
umur = 100
status_pernikahan = "Belum Menikah"
statuspernikahan = "Belum Menikah"

In [8]:
#Tipe Data
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "Waddup Son"
teks_multibaris = '''Corvo
dan
Emily'''
boolean = True
# Menampilkan nilai variabel
nama = "Corvo"
print('Nama:', nama, 'dan Umur:', umur)
print(f"Nama: {nama} dan Umur: {umur}")
print('\n')
print(teks_multibaris)

Nama: Corvo dan Umur: 100
Nama: Corvo dan Umur: 100


Corvo
dan
Emily

In [9]:
#Multi Statement Variable
nama = "Khalid"
a = 10; b = 50
kesibukan, keterangan = 'Berkuliah','Telkom University Surabaya'
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan} di {keterangan}")

Nama saya Khalid dan Umur saya adalah 60 Tahun dan sedang Berkuliah di Telkom University Surabaya

In [38]:
#Input
nama = input("Masukkan nama Anda: ")
makan = 'sudah'
harga = int(input("Berapa harganya?: "))

print('\n')
print("Hai saya", nama, 'dan saya', makan, 'makan malam menghabiskan uang sebanyak Rp', harga)

Masukkan nama Anda: Ikan
Berapa harganya?: 312000


Hai saya Ikan dan saya sudah makan malam menghabiskan uang sebanyak Rp 312000

In [37]:
#import Modul
import numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt
from pandas import DataFrame
from numpy import random

In [36]:
#Percabangan
nilai = int(input("Masukkan nilaimu: "))

if nilai >= 70:
    print("Selamat anda lulus MatKul Algoritma & Pemrograman!")
elif nilai == 20:
    print('Semoga Lulus')
else:
    print("Maaf anda tidak lulus")

Masukkan nilaimu: 90
Selamat anda lulus MatKul Algoritma & Pemrograman!

In [35]:
#Looping And While
for i in range(1,5):
    print(i)
    print('Namaku',i)

names = ['Corvo',"Attano","Rex","Sylvia"]
for name in names:
    print("Nama Saya",name)
    print("dan",name)

1
Namaku 1
2
Namaku 2
3
Namaku 3
4
Namaku 4
Nama Saya Corvo
dan Corvo
Nama Saya Attano
dan Attano
Nama Saya Rex
dan Rex
Nama Saya Sylvia
dan Sylvia

In [34]:
#Fungsi
def jumlah(angka1, angka2):
    hasil = angka1+angka2
    return hasil

def pengurangan(angka1, angka2):
    hasil = angka1-angka2
    return hasil
jumlah(10,4)
pengurangan(10,15)

-5

**PERTEMUAN 2**

In [33]:
#PENJUMLAHAN SEDERHANA
# Input bilangan
bilangan1 = float(input("Masukkan bilangan: "))
bilangan2 = float(input("Masukkan bilangan lagi: "))

# Penjumlahan
hasil = bilangan1 + bilangan2

# Hasil
print("Hasil:", hasil)

Masukkan bilangan: 4
Masukkan bilangan lagi: 4
Hasil: 8.0

In [32]:
#PANGKAT
# Input basis dan eksponen
basis = float(input("Masukkan basis: "))
eksponen = float(input("Masukkan eksponen: "))

# Hitung pangkat
hasil = basis ** eksponen

# Hasil
print("Hasil:", hasil)

Masukkan basis: 2
Masukkan eksponen: 4
Hasil: 16.0

In [31]:
#SISA BAGI
# Input bilangan dari pengguna
bilangan1 = int(input("Masukkan bilangan : "))
bilangan2 = int(input("Masukkan bilangan lagi: "))

# Hitung sisa bagi
hasil = bilangan1 % bilangan2

# Hasil
print("Sisa:", hasil)

Masukkan bilangan : 4
Masukkan bilangan lagi: 3
Sisa: 1

In [30]:
#AKAR KUADRAT
import math

# Input
bilangan = float(input("Masukkan bilangan: "))

# Hitung akar
hasil = math.sqrt(bilangan)

# Hasil
print("Akar:", hasil)

Masukkan bilangan: 49
Akar: 7.0

In [29]:
#LUAS SEGITIGA

# Input tinggi dan alas segitiga
tinggi = float(input("Masukkan tinggi segitiga: "))
alas = float(input("Masukkan alas segitiga: "))

# Hitung luas segitiga
luas = 0.5 * tinggi * alas

# Hasil
print("Luas segitiga:",luas)

Masukkan tinggi segitiga: 5
Masukkan alas segitiga: 4
Luas segitiga: 10.0

**PERTEMUAN 3**

In [27]:
#PERCABANGAN

#if
umur = 13
if umur <= 18:
  print("Anda belum cukup umur")

Anda belum cukup umur

In [26]:
#if-else
umur = 13
if umur <= 18:
  print("Anda belum cukup umur")
else :
  Print("Anda sudah cukup umur")

Anda belum cukup umur

In [25]:
#if-elif-else
nilai = 75
if nilai >= 90:
    print("A")
elif nilai >= 80:
    print("B")
elif nilai >= 70:
    print("C")
else:
    print("D")

C

In [24]:
#Percabangan bersarang

bil = float(input("Masukkan bilangan: "))

if bil > 0:
    # Bilangan positif
    if bil % 2 == 0:
        print("Bilangan positif dan genap")
    else:
        print("Bilangan positif dan ganjil")
elif bil < 0:
    # Bilangan negatif
    print("Bilangan negatif")
else:
    # Bilangan nol
    print("Bilangan nol")

Masukkan bilangan: 4
Bilangan positif dan genap

**PERTEMUAN 4**

In [23]:
#BASIC PERULANGAN
for i in range(200, 0,-2):
    print(f"ini perulangan ke {i}")

ini perulangan ke 200
ini perulangan ke 198
ini perulangan ke 196
ini perulangan ke 194
ini perulangan ke 192
ini perulangan ke 190
ini perulangan ke 188
ini perulangan ke 186
ini perulangan ke 184
ini perulangan ke 182
ini perulangan ke 180
ini perulangan ke 178
ini perulangan ke 176
ini perulangan ke 174
ini perulangan ke 172
ini perulangan ke 170
ini perulangan ke 168
ini perulangan ke 166
ini perulangan ke 164
ini perulangan ke 162
ini perulangan ke 160
ini perulangan ke 158
ini perulangan ke 156
ini perulangan ke 154
ini perulangan ke 152
ini perulangan ke 150
ini perulangan ke 148
ini perulangan ke 146
ini perulangan ke 144
ini perulangan ke 142
ini perulangan ke 140
ini perulangan ke 138
ini perulangan ke 136
ini perulangan ke 134
ini perulangan ke 132
ini perulangan ke 130
ini perulangan ke 128
ini perulangan ke 126
ini perulangan ke 124
ini perulangan ke 122
ini perulangan ke 120
ini perulangan ke 118
ini perulangan ke 116
ini perulangan ke 114
ini perulangan ke 112
ini perulangan ke 110
ini perulangan ke 108
ini perulangan ke 106
ini perulangan ke 104
ini perulangan ke 102
ini perulangan ke 100
ini perulangan ke 98
ini perulangan ke 96
ini perulangan ke 94
ini perulangan ke 92
ini perulangan ke 90
ini perulangan ke 88
ini perulangan ke 86
ini perulangan ke 84
ini perulangan ke 82
ini perulangan ke 80
ini perulangan ke 78
ini perulangan ke 76
ini perulangan ke 74
ini perulangan ke 72
ini perulangan ke 70
ini perulangan ke 68
ini perulangan ke 66
ini perulangan ke 64
ini perulangan ke 62
ini perulangan ke 60
ini perulangan ke 58
ini perulangan ke 56
ini perulangan ke 54
ini perulangan ke 52
ini perulangan ke 50
ini perulangan ke 48
ini perulangan ke 46
ini perulangan ke 44
ini perulangan ke 42
ini perulangan ke 40
ini perulangan ke 38
ini perulangan ke 36
ini perulangan ke 34
ini perulangan ke 32
ini perulangan ke 30
ini perulangan ke 28
ini perulangan ke 26
ini perulangan ke 24
ini perulangan ke 22
ini perulangan ke 20
ini perulangan ke 18
ini perulangan ke 16
ini perulangan ke 14
ini perulangan ke 12
ini perulangan ke 10
ini perulangan ke 8
ini perulangan ke 6
ini perulangan ke 4
ini perulangan ke 2

In [11]:
#Perulangan dari list
foods = ["ayam", "steak", "ikan"]
for food in foods:
    print(f'Saya Suka Makan {food}')

Saya Suka Makan ayam
Saya Suka Makan steak
Saya Suka Makan ikan

In [12]:
#Karakter di string
word = "Haiii"
for char in word:
    print(char, end="")

Haiii

In [15]:
#While
i = 3
while i < 100:
    print(i)
    i += 3

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

**PERTEMUAN 5**

In [14]:
#LOOP AND RANGE
for i in range(20):
    print("Perulangan ke- ", i)

Perulangan ke-  0
Perulangan ke-  1
Perulangan ke-  2
Perulangan ke-  3
Perulangan ke-  4
Perulangan ke-  5
Perulangan ke-  6
Perulangan ke-  7
Perulangan ke-  8
Perulangan ke-  9
Perulangan ke-  10
Perulangan ke-  11
Perulangan ke-  12
Perulangan ke-  13
Perulangan ke-  14
Perulangan ke-  15
Perulangan ke-  16
Perulangan ke-  17
Perulangan ke-  18
Perulangan ke-  19

In [17]:
#CONTOH
n = int(input("jumlah baris: "))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print(' ')

jumlah baris: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**PERTEMUAN 6 QUIZ**

**PERTEMUAN 7**

In [19]:
#FUNGSI

#Format fungsi
def nama_fungsi(parameterFormal1, parameterFormalN):
	# function body / process
	# function body / process
	# function body / process
	return returned_variable # opsional, sesuai kebutuhan

#CONTOH FUNGSI
def selamat_datang (nama):
    print(f'Halo {nama}, selamat datang!')

selamat_datang('Nurul')
selamat_datang('Lendis')
selamat_datang('Fabri')
selamat_datang('isa')

#Fungsi tanpa return value
def predikatMahasiswa(nilai1, nilai2, nilai3):
    rataRata = (nilai1 + nilai2 + nilai3)/3
    if rataRata >= 80 and rataRata <= 100:
        print("Selamat, predikat kamu A!")
    elif rataRata >= 60 and rataRata < 80:
        print("Predikat kamu B, pertahankan yaa!")
    elif rataRata >= 30 and rataRata < 60:
        print("Predikat kamu C, perbaiki ya!")
    elif rataRata >= 0 and rataRata < 30:
        print("Mending pulang deck")

nilaiMhs1 = int(input("Masukkan nilai pertama: "))
nilaiMhs2 = int(input("Masukkan nilai kedua: "))
nilaiMhs3 = int(input("Masukkan nilai ketiga: "))

#Fungsi dengan return value
def luasSegitiga(alas, tinggi):
    result = 0.5*alas*tinggi
    return result

hasilLuas = luasSegitiga(10, 10)
print(f"Luas Segitiga: {hasilLuas}")

Halo Nurul, selamat datang!
Halo Lendis, selamat datang!
Halo Fabri, selamat datang!
Halo isa, selamat datang!
Masukkan nilai pertama: 90
Masukkan nilai kedua: 85
Masukkan nilai ketiga: 70
Luas Segitiga: 50.0

**PERTEMUAN 8 Dan 9 UTS dan PEMBAHASAN UTS**

**PERTEMUAN 10 MEMBUAT SOAL SENDIRI**

In [22]:
#SOAL PERTAMA
nilai = [87,75,89,39,27,91]

for i in nilai:
  if 100 >= i >= 90:
    print(f"Siswa dengan nilai {i} Lulus Dengan Sempurna")
  elif 89 >= i > 80:
    print(f"Siswa dengan nilai {i} Lulus Dengan Baik")
  elif 79 >= i > 70:
    print(f"Siswa dengan nilai {i} Lulus")
  else :
    print(f"Siswa dengan nilai {i} Tidak Lulus")

Siswa dengan nilai 87 Lulus Dengan Baik
Siswa dengan nilai 75 Lulus
Siswa dengan nilai 89 Lulus Dengan Baik
Siswa dengan nilai 39 Tidak Lulus
Siswa dengan nilai 27 Tidak Lulus
Siswa dengan nilai 91 Lulus Dengan Sempurna

In [21]:
#SOAL KEDUA
Lama_anak_bekerja = [1,3,2,7,4]
Total = 0
a = 100000
b = 200000
c = 400000
uang_saku = []
for i in Lama_anak_bekerja:
  if i <= 1 :
    print(f"Anak ini mendapatkan uang jajan sebesar Rp.{a}")
    uang_saku.append(a)
  elif 2<= i <= 4 :
    print(f"Anak ini mendapatkan uang jajan sebesar Rp.{b}")
    uang_saku.append(b)
  else :
    print(f"Anak ini mendapatkan uang jajan sebesar Rp.{c}")
    uang_saku.append(c)
print(uang_saku)
for i in uang_saku:
  Total += i
print(f"Total uang yang dikeluarkan orang tua adalah Rp.{Total}")

Anak ini mendapatkan uang jajan sebesar Rp.100000
Anak ini mendapatkan uang jajan sebesar Rp.200000
Anak ini mendapatkan uang jajan sebesar Rp.200000
Anak ini mendapatkan uang jajan sebesar Rp.400000
Anak ini mendapatkan uang jajan sebesar Rp.200000
[100000, 200000, 200000, 400000, 200000]
Total uang yang dikeluarkan orang tua adalah Rp.1100000