**KHALID MUHAMMAD
103102400033
DS-04-02**

**PERTEMUAN 1**

In [3]:
#Cara Print
print("HaiHaiHai")
print(f"HaiHaiHai")

HaiHaiHai
HaiHaiHai

In [ ]:
#Komentar
"""
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
"""
print("Komentar tidak akan mengeluarkan output apapun")

In [4]:
#Variable
"""
Aturan Penulisan Variabel:

    Nama variabel boleh diawali menggunakan huruf atau garis bawah _. Contoh: nama, _nama, namaKu, nama_variabel
    Karakter selanjutnya dapat berupa huruf, garis bawah _ atau angka. Contoh: __nama, n2, nilai1
    Variabel tidak boleh dimulai dengan angka ataupun simbol.
    Variabel tidak boleh berupa kata kunci (keyword) yang ada dalam Python. Contoh: if, else, while, for, dan masih banyak lagi

"""
# Variabel
Nama = "Khalid"
umur = 100
status_pernikahan = "Belum Menikah"
statuspernikahan = "Belum Menikah"

In [ ]:
#Tipe Data
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "Waddup Son"
teks_multibaris = '''Corvo
dan
Emily'''
boolean = True
# Menampilkan nilai variabel
nama = "Corvo"
print('Nama:', nama, 'dan Umur:', umur)
print(f"Nama: {nama} dan Umur: {umur}")
print('\n')
print(teks_multibaris)

In [5]:
#Multi Statement Variable
nama = "Khalid"
a = 10; b = 50
kesibukan, keterangan = 'Berkuliah','Telkom University Surabaya'
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan} di {keterangan}")

Nama saya Khalid dan Umur saya adalah 60 Tahun dan sedang Berkuliah di Telkom University Surabaya

In [ ]:
#Input
nama = input("Masukkan nama Anda: ")
makan = 'sudah'
harga = int(input("Berapa harganya?: "))

print('\n')
print("Hai saya", nama, 'dan saya', makan, 'makan malam menghabiskan uang sebanyak Rp', harga)

In [ ]:
#import Modul
import numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt
from pandas import DataFrame
from numpy import random

In [ ]:
#Percabangan
nilai = int(input("Masukkan nilaimu: "))

if nilai >= 70:
    print("Selamat anda lulus MatKul Algoritma & Pemrograman!")
elif nilai == 20:
    print('Semoga Lulus')
else:
    print("Maaf anda tidak lulus")

In [ ]:
#Looping And While
for i in range(1,5):
    print(i)
    print('Namaku',i)

names = ['Corvo',"Attano","Rex","Sylvia"]
for name in names:
    print("Nama Saya",name)
    print("dan",name)

In [ ]:
#Fungsi
def jumlah(angka1, angka2):
    hasil = angka1+angka2
    return hasil

def pengurangan(angka1, angka2):
    hasil = angka1-angka2
    return hasil
jumlah(10,4)
pengurangan(10,15)

**PERTEMUAN 2**

In [ ]:
#PENJUMLAHAN SEDERHANA
# Input bilangan
bilangan1 = float(input("Masukkan bilangan: "))
bilangan2 = float(input("Masukkan bilangan lagi: "))

# Penjumlahan
hasil = bilangan1 + bilangan2

# Hasil
print("Hasil:", hasil)

In [ ]:
#PANGKAT
# Input basis dan eksponen
basis = float(input("Masukkan basis: "))
eksponen = float(input("Masukkan eksponen: "))

# Hitung pangkat
hasil = basis ** eksponen

# Hasil
print("Hasil:", hasil)

In [ ]:
#SISA BAGI
# Input bilangan dari pengguna
bilangan1 = int(input("Masukkan bilangan : "))
bilangan2 = int(input("Masukkan bilangan lagi: "))

# Hitung sisa bagi
hasil = bilangan1 % bilangan2

# Hasil
print("Sisa:", hasil)

In [ ]:
#AKAR KUADRAT
import math

# Input
bilangan = float(input("Masukkan bilangan: "))

# Hitung akar
hasil = math.sqrt(bilangan)

# Hasil
print("Akar:", hasil)

In [ ]:
#LUAS SEGITIGA

# Input tinggi dan alas segitiga
tinggi = float(input("Masukkan tinggi segitiga: "))
alas = float(input("Masukkan alas segitiga: "))

# Hitung luas segitiga
luas = 0.5 * tinggi * alas

# Hasil
print("Luas segitiga:", luas)

**PERTEMUAN 3**

In [ ]:
#PERCABANGAN

#if
umur = 13
if umur <= 18:
  print("Anda belum cukup umur")

In [ ]:
#if-else
umur = 13
if umur <= 18:
  print("Anda belum cukup umur")
else :
  Print("Anda sudah cukup umur")

In [ ]:
#if-elif-else
nilai = 75
if nilai >= 90:
    print("A")
elif nilai >= 80:
    print("B")
elif nilai >= 70:
    print("C")
else:
    print("D")

In [ ]:
#Percabangan bersarang

bil = float(input("Masukkan bilangan: "))

if bil > 0:
    # Bilangan positif
    if bil % 2 == 0:
        print("Bilangan positif dan genap")
    else:
        print("Bilangan positif dan ganjil")
elif bil < 0:
    # Bilangan negatif
    print("Bilangan negatif")
else:
    # Bilangan nol
    print("Bilangan nol")

**PERTEMUAN 4**

In [ ]:
#BASIC PERULANGAN
for i in range(200, 0,-2):
    print(f"ini perulangan ke {i}")

In [ ]:
#Perulangan dari list
foods = ["ayam", "steak", "ikan"]
for food in foods:
    print(f'Saya Suka Makan {food}')

In [ ]:
#Karakter di string
word = "Haiii"
for char in word:
    print(char, end="")

In [ ]:
#While
i = 3
while i < 100:
    print(i)
    i = i + 3

**PERTEMUAN 5**

In [ ]:
#LOOP AND RANGE
for i in range(20):
    print("Perulangan ke- ", i)

In [ ]:
#CONTOH
n = int(input("jumlah baris: "))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print(' ')

**PERTEMUAN 6 QUIZ**

**PERTEMUAN 7**

In [ ]:
#FUNGSI

#Format fungsi
def nama_fungsi(parameterFormal1, parameterFormalN):
	# function body / process
	# function body / process
	# function body / process
	return returned_variable # opsional, sesuai kebutuhan
#Format pemanggilan fungsi
var = nama_fungsi(parameterAktual1, parameterAktualN) # jika fungsi mengembalikan nilai
nama_fungsi(parameterAktual1, parameterAktual) #Jika fungsi tidak mengembalikan nilai

#CONTOH FUNGSI
def selamat_datang (nama):
    print(f'Halo {nama}, selamat datang!')

selamat_datang('Nurul')
selamat_datang('Lendis')
selamat_datang('Fabri')
selamat_datang('isa')

#Fungsi tanpa return value
def predikatMahasiswa(nilai1, nilai2, nilai3):
    rataRata = (nilai1 + nilai2 + nilai3)/3
    if rataRata >= 80 and rataRata <= 100:
        print("Selamat, predikat kamu A!")
    elif rataRata >= 60 and rataRata < 80:
        print("Predikat kamu B, pertahankan yaa!")
    elif rataRata >= 30 and rataRata < 60:
        print("Predikat kamu C, perbaiki ya!")
    elif rataRata >= 0 and rataRata < 30:
        print("Mending pulang deck")

nilaiMhs1 = int(input("Masukkan nilai pertama: "))
nilaiMhs2 = int(input("Masukkan nilai kedua: "))
nilaiMhs3 = int(input("Masukkan nilai ketiga: "))

#Fungsi dengan return value
def luasSegitiga(alas, tinggi):
    result = 0.5*alas*tinggi
    return result

hasilLuas = luasSegitiga(10, 10)
print(f"Luas Segitiga: {hasilLuas}")

**PERTEMUAN 8 Dan 9 UTS dan PEMBAHASAN UTS**

**PERTEMUAN 10 MEMBUAT SOAL SENDIRI**

In [ ]:
#SOAL PERTAMA
nilai = [87,75,89,39,27,91]

for i in nilai:
  if 100 >= i >= 90:
    print(f"Siswa dengan nilai {i} Lulus Dengan Sempurna")
  elif 89 >= i > 80:
    print(f"Siswa dengan nilai {i} Lulus Dengan Baik")
  elif 79 >= i > 70:
    print(f"Siswa dengan nilai {i} Lulus")
  else :
    print(f"Siswa dengan nilai {i} Tidak Lulus")

In [ ]:
#SOAL KEDUA
Lama_anak_bekerja = [1,3,2,7,4]
Total = 0
a = 100000
b = 200000
c = 400000
uang_saku = []
for i in Lama_anak_bekerja:
  if i <= 1 :
    print(f"Anak ini mendapatkan uang jajan sebesar Rp.{a}")
    uang_saku.append(a)
  elif 2<= i <= 4 :
    print(f"Anak ini mendapatkan uang jajan sebesar Rp.{b}")
    uang_saku.append(b)
  else :
    print(f"Anak ini mendapatkan uang jajan sebesar Rp.{c}")
    uang_saku.append(c)
print(uang_saku)
for i in uang_saku:
  Total += i
print(f"Total uang yang dikeluarkan orang tua adalah Rp.{Total}")